*{

    box-sizing: border-box;
   
}

html{


    scroll-behavior: smooth;
}

body{
    
    margin: 0;
    font-family: "Playfair Display", serif;
}


h1{ 
font-size: 3.5em;
}

h2{
font-size: 2.7em;
}

h3{
font-size: 2em;
}

p{
font-size: 1.25em;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(0,0,0,0.3);
    color:#f6f6f5;
    background-color:#4d998c;
    
}

button:hover{

    background-color: #62c3b3;

}

#hero{


    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(

    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)

    )
    ,url("/img/mesaIndex.jpg");

    background-position: center center; background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
}

#hero h1{

    color: white;


}


#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;

}



#nuestras-mesas{

    background-color: rgb(20,20,20);
    color: white;
    text-align: center;


}


#nuestras-mesas .container{

    padding: 150px 12px;
   
}

#nuestras-mesas h2{

    margin-top: 0;
    font-size: 3.2em;

}

#nuestras-mesas p{

    display: none;

}

#nuestras-mesas .carta{

    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;

}

.carta:first-child{

    background-image: linear-gradient(

    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)

    )
    ,url("/img/MesaCard1.jpg");

}

.carta:nth-child(2){

    background-image: linear-gradient(

    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)

    )
    ,url("/img/MesaCard2.png");

}


.carta:nth-child(3){
    
    background-image: linear-gradient(

    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)

    )
    ,url("/img/MesaCard3.png");

}


#contactanos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: rgb(43, 239, 167);
    height: 80vh;
}

#contactanos h2{

    font-size: 9vw;

}

#contactanos button{

    font-size: 5vw;

}

footer{

    background-color: rgb(230,230,230);

}

footer p{

    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);

}

footer .container{

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
/*///////////////////////////////////////////////*/












@media(min-width: 720px){

  #hero{

    background-image:linear-gradient(

    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)

    ),url("/img/mesaIndex.jpg");

    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */



  }


  


    #caracteristicas .container{

        display: flex;
        justify-content: space-evenly;
    }

    #caracteristicas .texto{

        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    } 

    #caracteristicas h2{

        margin-top: 0px;

    }

    #caracteristicas .img-container{

       background-image: url("/img/Mesa4.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        border-radius: 10px;

    }


    #nuestras-mesas .typetables{

        display: flex;
        justify-content: center;

    }

    #nuestras-mesas p{

        display: block;
        

    }

    #nuestras-mesas h3{

        margin-top: 0px;
    }

    #nuestras-mesas .carta{

        padding: 50px;

    }


    #contactanos h2{

        font-size: 5em;

    }

    #contactanos button{

        font-size: 2em;

    }

    footer .container{

        justify-content: flex-end;


      }

  
}


